/* GENERAL STYLES STARTS HERE -----------------*/
/* root variables for optimisation and easy editing */
:root {
  /* White Color */
  --white-color: #f9f9f9;
  --yellow-accent: #ffc107;
  --primary-color: #040714;
}
/* Import font from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Khand:wght@400;600;700&display=swap");
html {
  /* Smooth Scrolling */
  scroll-behavior: smooth;
}
/* *: all selector */
* {
  /* Boilerplate code */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* Font Family */
  font-family: "Khand", sans-serif;
}
body {
  /* bgcolor */
  background-color: var(--primary-color);
  /* text color */
  color: var(--white-color);
  /* Show ScrollBar or Hide overflow */
  /* Only show scrollbar if needed */
  overflow: auto;
}

/* Scrollbar Styling (doesn't work for moz)*/
::-webkit-scrollbar {
  /* Scrollbar width */
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  /* track bgcolor */
  background: var(--white-color);
}
/* Handle */
::-webkit-scrollbar-thumb {
  /* handle bgcolor */
  background: #888;
}
/* Handle Hover */
::-webkit-scrollbar-thumb:hover {
  /* handle bgcolor on hover */
  background: #555;
}
/* Text selection ex. for copying */
/* For Mozilla firefox */
::-moz-selection {
  /* text color on selected */
  color: var(--yellow-accent);
  /* selected text bgcolor */
  background: #1212;
}
/* generally for browsers */
::selection {
  /* text color on selected */
  color: var(--yellow-accent);
  /* selected text bgcolor */
  background: var(--primary-color);
}
/* Link elements are read as anchors in css */
a {
  color: var(--white-color);
  text-decoration: none;
}
/* Responsive general styles 
screens more than 768px width *large screens */
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
/* smaller screens 480px tablets**/
@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}
/* very small less than 479px *phones */
@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
}
img {
  -webkit-user-drag: none;
}
/* GENERAL STYLES ENDS HERE -----------------*/
